:root {
  --not-white: #fffaf3;
  --drk-white: #f2e9e1;
  --not-black: #191724;
  --not-red:   #eb6f92;
  --not-blue:  #31748f;
  --not-green: #56949f;
  --not-grey:  #393552;
  --muted:     #6e6a86;
  --hdr-hght:  5rem;
  --lrg-txt:   2.2rem;
}

.light-theme {
  --bg-color: var(--not-white);
  --bg-side:  var(--drk-white);
  --text:     var(--not-black);
}

.dark-theme { 
  --bg-color: var(--not-grey); 
  --bg-side:  var(--not-black);
  --text:     var(--not-white);
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  display: flex;
  font-family: 'Quicksand', sans-serif;
}

.side-note-menu {
  height: 100%;
  width: 20rem;
  background-color: var(--bg-side);
}

.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--hdr-hght);
}

li, .side-nav span, label {
  color: var(--text);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: var(--text);
  font-size: 3em;
  font-weight: 600;
  text-decoration: underline;
}
.side-nav span p {
  font-size: var(--lrg-txt);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--bg-color);
}

header, footer {
  height: var(--hdr-hght);
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: var(--lrg-txt);
}

header a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5rem;
}

button {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
  border-radius: 180px;
  font-size: 2em;
  padding: 5px 30px;
  color: var(--bg-color);
  background-color: var(--text);
  border: solid 2px var(--text);
  transition-duration: 0.4s;
}

button:hover {
  background-color: var(--bg-color);
  color: var(--text);
  border: solid 2px var(--text);
}

.note-container-main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.note-area {
  width: 90%
}

article {
  margin-bottom: var(--lrg-txt);
}

.read-note-area p {
  font-family: 'Libre Baskerville', serif;
  color: var(--text);
  font-size: 1.6rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

i {
  font-size: 3rem;
}

.icons {
  color: var(--text);
}


textarea {
  font-size: 1.6em;
  caret-color: var(--not-red);
  border: none;
  border-bottom: 2px solid var(--text);
  outline: none;
  resize: none;
  overflow: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text);
  font-size: var(--lrg-txt);
}


.theme-toggle {
  margin-left: 60px;
}
.theme-toggle input[type="checkbox"] {
  display: none;
}
.theme-toggle label{
    position: relative;
  }
  
.theme-toggle input[type="checkbox"] + label::before{
    content: ' ';
    display: block;
    height: 18px;
    width: 45px;
    border: 1px solid var(--drk-white);
    border-color: var(--not-black);
    border-radius: 9px;
    position: absolute;
    top: 0px;
    left: -65px;
    background: var(--drk-white);
  }
  
.theme-toggle  input[type="checkbox"] + label::after{
    content: ' ';
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid var(--not-black);  
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -75px;
    background: var(--not-black);
    transition: all 0.3s ease-in;
  }
  
.theme-toggle  input[type="checkbox"]:checked + label::after{
    left: -40px; 
    transition: all 0.3s ease-in;
  }
